.header-container {
  background-color: black;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.logo-header {
  width: 100%;
  /* height: 150px; */
  align-items: center;
}

.watchlistLink {
  text-decoration: none;
}
