<p>{{ movieRef.title }}</p>
<div class="movie-image">
  <img src="https://image.tmdb.org/t/p/w500{{ movieRef.poster_path }}" alt="" />
</div>

<div class="popup">
  <p>Title: {{ movieRef.title }}</p>
  <p>Summary:{{ movieRef.overview }}</p>
  <p>Genre:{{ movieRef.genre_ids }}</p>
  <p>Date:{{ movieRef.release_date }}</p>
  <p>Rating:{{ movieRef.vote_average }}</p>

  <button (click)="emitwatchlistEvent(movieRef)">Add to Watchlist</button>
  <button (click)="emitDeletewatchlistEvent(movieRef)">Remove Watchlist</button>
</div>
