.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* .search-container {
  display: flex;
  justify-content: center;
} */

.search-form {
  margin: 10px;
  width: 300px;
}

.filter-container {
  color: #fcd757;
  margin: 10px;
}

.search-input-field {
  margin: 5px;
  padding: 5px;
  width: 150px;
}

.input-field {
  margin: 5px;
  padding: 5px;
}

.watchlist-button {
  background-color: #fcd757;
  padding: 5px;
  width: 150px;
  font-size: larger;
  text-decoration: none;

}
.watchlist-button:hover {
  background-color: #696D7D;
}

@media only screen and (min-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-container {
display: flex;
  }
.search-form {
  display: flex;
}
  .watchlist-button {

    padding: 5px;

  }


  .input-field {
    margin: 5px;
    padding: 5px;
    width: 300px;
  }

  /* .search-button {
    width: 120px;
    background-color: #fcd757;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
  } */
}
