.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  
  .movie-card {
    height: 400px;
    width: auto;
    margin: 15px;
  }
}